DB_USER=user
DB_PASSWORD=password
DB_NAME=database

CACHE_REDIS_ENABLED=false
CACHE_LOCAL_ENABLED=true

SERVER_URL=http://172.17.0.1:8080
API_KEY=YOUR_API_KEY

CONFIG_SESSION_PHONE_VERSION=2.3000.1037607845
WEB_VERSION=2.3000.1037607845